.btn{
    border-radius: 0;
}

.option{
    background-color:#cadaee;
    font-size:20px;
    padding:10px;
    margin:3px;
}
    #quiz .options input[type=checkbox] {
        height:22px;
        width:22px;
    }

.cursor-pointer{
    cursor: pointer;
}

.result-question{
    background-color:#eee;
    margin:4px;
    padding:6px;
}

@media only screen and (max-width: 480px) {
    h1,.h1{
        font-size:22px;
    }
    h2,.h2{
        font-size:20px;
    }
    h3,.h3{
        font-size:18px;
    }
    .option {
        font-size: 16px;
        padding: 6px;
    }
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
 body, html {
	 height: 100%;
	 margin: 0 auto;
}
 body {
	 font-family: 'Montserrat';
	 font-size: 18px;
}
 a {
	 text-decoration: none;
}
 .container {
	 width: 80%;
	 margin: 0 auto;
	 padding: 1.3em;
	 display: grid;
}
 .container a {
	 color: white;
}
 section {
	 width: 80%;
	 margin: 0 auto;
	 padding: 2em;
}
 